/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.blok {
  padding: 20px;
}

.levy {
  background-color: #f1c40f;
  flex-grow: 1;
}

.pravy {
  flex-grow: 1;
}


.horni {
  background-color: #2ecc71;
  height: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

.dolni {
  background-color: #e74c3c;
  height: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

.kontejner {
  display: flex;
}
/* ---------------------------------------------------- */
