/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.blok {
    padding: 20px;
}

.horni { background-color:#f1c40f ;}
.prvni { background-color: #2ecc71;
        width: 30%;
        flex-grow: 1;
}
.druhy { 
    background-color: #e74c3c;
    width: 30%;
    flex-grow: 1;
}
.treti { 
    background-color: #8e44ad;
    width: 30%;
    flex-grow: 1;
}

/* ---------------------------------------------------- */

.dolni {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}